/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  font-family: "nitti", Helvetica, Times;
  font-size: 1.18em;
  line-height: 1.40em;
  margin: 0 auto;
  background-color: white;
  color:#1C1C1C;
	letter-spacing: .03em;
}

p {
  font-weight: 500;
  float:left;
  margin-top: 10px;

}

#tagline {
	margin-top: 40px;
}

h1 {
  font-weight:normal;
  font-size: 1.8em;
	font-family:"nitti-light", Helvetica, Times;
	padding-top:12px;
	padding-bottom:10px;
}


h2 {
  font-weight:normal;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color:#1C1C1C;
}

a:visited {
	  color:#1C1C1C;
}

a#cta {
	color:blue;
}

.column {
  margin: 40px;
}

#col-1 {
	float: left;
	width:225px;
}

#col-2 {
	float:right;
	width:510px;
}

@font-face {
  font-family: 'nitti-light';
  src: url('fonts/NittiGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'nitti';
  src: url('fonts/NittiGrotesk-Normal.ttf') format('truetype');
}

div.clear {
    clear:both;
}

#links {
	margin-top: 40px;
}

h1:after {
	position: absolute;
	top:40px;
  content: '';
  width: 2px;
  height: 42px;
  background: black;
  opacity: 0;
  display: inline-block;
  animation: blink .6s ease-out infinite alternate;
	z-index: 1000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
 	/* body {background-color: red;} */
	#col-2 {
		float:left;
		width:300px;
	}
	#col-1 {
		float: left;
		width:325px;
	}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	/* body {background-color: yellow;} */
	#col-2 {
		float:left;
		width:420px;
	}
	#col-1 {
		float: left;
		width:325px;
	}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	/* body {background-color: blue;} */
	#col-2 {
		float:left;
		width:510px;
	}
	#col-1 {
		float: left;
		width:325px;
	}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	/* body {background-color: green;} */
	#col-2 {
		float:right;
		width:510px;
	}
	#col-1 {
		float: left;
		width:225px;
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	/* body {background-color: gray;} */
	#col-2 {
		float:right;
		width:510px;
	}
	#col-1 {
		float: left;
		width:325px;
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
	/* body {background-color: purple;} */
	#col-2 {
		float:right;
		width:490px;
	}
	#col-1 {
		float: left;
		width:225px;
	}
}
