body {
  font-family: "apercuMono", Times;

  font-size: .8em;
  line-height: 1.6em;
  margin: 0 auto;
  background-color: white;
  color:#111111;
}

p {
  font-weight: 500;
  float:left;
}

h1 {
  font-weight:normal;
  font-size: 1.3em;
}

h2 {
  font-weight:normal;
  font-size: 1.3em;
}

a {
  text-decoration: underline;
}

#inner {
  margin: 40px;
  width:322px;
}



@font-face {
  font-family: 'apercuMono';
  src: url('fonts/ApercuMono.otf') format('opentype');
}

/* #links li {
  list-style: none;
} */
